<mat-card>
  <mat-card-header>
    <mat-card-title>Query</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="query-textfield">
      <textarea matInput placeholder="Enter your SPARQL query here." rows="10" class="query-textarea" [(ngModel)]="codeContent"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="submit" (click)="onExecuteClick()">Execute</button>
    <div *ngIf="!userConsented" class="mat-caption" style="float: right; height: auto;">By clicking "Execute", you acknownledge &amp; consent
      your query expression entered above will be recorded and preserved for up to 90 days in order to improve the query service.</div>
    <div style="clear: both;"></div>
  </mat-card-actions>
</mat-card>