<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Crystla Pool Query Service</span>
        <span style="margin:0 4px;">|</span>
        <button mat-button (click)="onGotoCrystalPoolButtonClicked()" matTooltip="… to see & edit the whole knowledge-base">
            Go to Crystal Pool
        </button>
        <span class="toobar-spacer"></span>
        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item (click)="onGotoRepositoryButtonClicked()">Star this project on GitHub!</button>
            <button mat-menu-item (click)="onGotoRepositoryButtonClicked('issues')">Issues &amp; feature requests</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onGotoCrystalPoolButtonClicked('Special:MyLanguage/Project:SPARQL_query_service')">
                About SPARQL Query Service
            </button>
            <button mat-menu-item (click)="onGotoCrystalPoolButtonClicked('Special:MyLanguage/Project:About')">
                About Crystal Pool
            </button>
        </mat-menu>
        <button mat-icon-button matTooltip="More…" [matMenuTriggerFor]="moreMenu">
            <mat-icon>more</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<app-code-editor></app-code-editor>
<br />
<app-status-indicator></app-status-indicator>
<app-result-viewer></app-result-viewer>