body {
}

.query-input {
    width: 100%;
}

.debug-info, .query-result {
    font-family: Consolas, Courier New, Courier, monospace;
    white-space: pre;
}

.debug-info {
    background-color: bisque;
}

.query-result {
    background-color: azure;
}

button {
    padding: 0.5em;
}
