[Unit]
Description=GrayWing SPARQL HTTP endpoint service
Documentation=https://github.com/crystal-pool/GrayWing
After=syslog.target network.target

[Service]
Type=simple
ExecStartPre="$GRAY_WING_UPDATE_REPO_PATH
ExecStartPre="$GRAY_WING_UPDATE_REPO_PATH" -Install
ExecStart="$GRAY_WING_RUN_SERVER_PATH"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=graywing-qs
Restart=on-failure
KillSignal=SIGINT
ExecStopPost="$GRAY_WING_UPDATE_REPO_PATH" -Uninstall

[Install]
WantedBy=multi-user.target
