[Unit]
Description=GrayWing SPARQL HTTP endpoint service
Documentation=https://github.com/crystal-pool/GrayWing
After=syslog.target network.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=simple
User=crystalpool
Group=crystalpool
ExecStartPre="$GRAY_WING_UPDATE_REPO_PATH" -Install
ExecStart="$GRAY_WING_RUN_SERVER_PATH"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=graywing-qs
Restart=on-failure
RestartSec=5

KillSignal=SIGINT
ExecStopPost="$GRAY_WING_UPDATE_REPO_PATH" -Uninstall

[Install]
WantedBy=multi-user.target
